.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



.header-bg{
    background-image: url(Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size:100%;
    height: 698px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;

}
.nav-title{
    font-weight:800;
    font-size: 50px;
    margin-left:50px;
    color: #4E47FF;
}
.nav ul{
    display: flex;
    align-items: center;
    }
.nav ul li{
    list-style: none;
    margin-right: 50px;
}
.nav ul li a{
    text-decoration:none;
    font-size: 20px;
    font-weight: bold;
    
}
.banner-content{
    margin: 20px 150px;
    text-align: center;
    align-items: center;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 10px;
    border: ;
}

/* shared style */
.dark-1{
    color: black;
    font-weight: bold;
}
.dark-2{
    color: #474747;
}

.Action-section{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.action-left{
    
    margin-left: 70px;
    
}
.banner-discrip{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;
}

.banner-profile{
    border-radius: 25px;
    margin-right: 70px;
}