.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



.header-bg{
    background-image: url(Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size:100%;
    height: 698px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;

}
.nav-title{
    font-weight:800;
    font-size: 50px;
    margin-left:50px;
    color: #4E47FF;
}
.nav ul{
    display: flex;
    align-items: center;
    }
.nav ul li{
    list-style: none;
    margin-right: 50px;
}
.nav ul li a {
    
    font-size: 20px;
    font-weight: bold;
    text-decoration:none;
   
    
}
.banner-content{
    margin: 20px 150px;
    text-align: center;
    align-items: center;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 10px;
    border: ;
}

/* shared style */
.dark-1{
    color: black;
    font-weight: bold;
}
.dark-2{
    color: #474747;
}

.Action-section{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.action-left{
    
    margin-left: 70px;
    
}
.banner-discrip{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;
}

.banner-profile{
    border-radius: 25px;
    margin-right: 70px;
}
.button :hover {
    background-color: yellow;
  font-size: 18px;
}

/* feedback section */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f9fc;
  color: #333;
}

.testimonials {
  text-align: center;
  padding: 40px 20px;
}

.testimonials h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  padding: 20px;
  width: 300px;
  text-align: left;
}

.stars {
  color: #f6b100;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card h3 {
  margin: 0 0 10px 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.card p {
  font-size: 0.95rem;
  margin-bottom: 15px;
  color: #555;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewer img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.name {
  font-weight: 500;
}

.date {
  font-size: 0.85rem;
  color: #888;
}

/* get in tuch section */
.form-section{
    display: flex;
    gap: 100px;
    padding: 130px 150px;
}

.section-title{
    font-size: 75px;
    font-weight: bold;
    color: #181818;
}
.form-colunm{
    width: 50%;
}

.form-section input[type="text"], form input ,form textarea [type="email"]{
    background-color: white;
    border-radius: 5px;
    height: 40px;
    display:block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 14px;
    border: none;
}